In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [6]:
#Load data from file
data = pd.read_csv('student-mat.csv', sep=';')
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [7]:
#feature selection
data =data[["G1","G2","G3","studytime","failures","absences"]]
data.head()

   G1  G2  G3  studytime  failures  absences
0   5   6   6          2         0         6
1   5   5   6          2         0         4
2   7   8  10          2         3        10
3  15  14  15          3         0         2
4   6  10  10          2         0         4

In [12]:
#reorder data to have the x and y
x= np.array(data.drop(["G3"],1))
y= np.array(data["G3"])

C:\Users\BENAIAH\AppData\Local\Temp/ipykernel_24512/2939184498.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  x= np.array(data.drop(["G3"],1))

In [13]:
#split the data
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [14]:
#train model
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [15]:
#prediction
result = model.predict(x_test)

In [16]:
for i in range(len(result)):
    print(f"Result: {result[i]}, Actual: {y_test[i]}")

Result: 12.87390698924339, Actual: 11
Result: 10.412651636113317, Actual: 11
Result: 6.725646216204101, Actual: 8
Result: 12.327262006846315, Actual: 12
Result: 9.385211366202743, Actual: 8
Result: 5.363716121786578, Actual: 6
Result: 11.51348150479233, Actual: 11
Result: 13.889727346799338, Actual: 14
Result: 14.657915229701677, Actual: 15
Result: 8.537111516680467, Actual: 9
Result: 12.1587510064741, Actual: 13
Result: 11.922655348391924, Actual: 11
Result: 7.810415305432288, Actual: 8
Result: 4.958615565584189, Actual: 8
Result: 11.036989857535959, Actual: 11
Result: 8.29018974774732, Actual: 10
Result: 2.5566442144780286, Actual: 0
Result: 6.117718724068652, Actual: 8
Result: 12.521271472622866, Actual: 13
Result: 10.666662633449146, Actual: 11
Result: 10.58896939442358, Actual: 11
Result: 7.497564157739827, Actual: 8
Result: 12.775282469958693, Actual: 13
Result: 9.171558319418716, Actual: 9
Result: 13.653631688717164, Actual: 14
Result: 6.661640948143349, Actual: 10
Result: 9.66596189402129, Actual: 10
Result: 9.496169915469979, Actual: 10
Result: 7.873926675745041, Actual: 11
Result: 6.24866408310718, Actual: 8
Result: 11.11117325780805, Actual: 12
Result: 11.886824669884618, Actual: 12
Result: 13.409952904484307, Actual: 13
Result: 5.17959160553827, Actual: 0
Result: 8.763098593447033, Actual: 10
Result: 13.790388709886729, Actual: 15
Result: 13.375399792248645, Actual: 15
Result: 13.498468842453395, Actual: 15
Result: 15.053127424468377, Actual: 15
Result: 12.711994731433306, Actual: 14
Result: 9.33776749641337, Actual: 9
Result: 7.873703043957676, Actual: 8
Result: 10.603374894923757, Actual: 10
Result: 7.0635019315528975, Actual: 7
Result: 15.335162342373463, Actual: 15
Result: 5.970139003955566, Actual: 7
Result: 11.94381026043842, Actual: 13
Result: 11.168158848361852, Actual: 12
Result: 11.97183076910023, Actual: 12
Result: 7.098275263668473, Actual: 8
Result: 7.711790786147592, Actual: 8
Result: -0.9979740662493761, Actual: 0
Result: 15.081151345037638, Actual: 15
Result: 8.304031799603766, Actual: 10
Result: 10.63512887412641, Actual: 11
Result: 3.9881676072999737, Actual: 6
Result: 8.83985408305732, Actual: 11
Result: 15.920653944283321, Actual: 18
Result: 16.985429502667664, Actual: 17
Result: 9.347876077728978, Actual: 10
Result: 12.87390698924339, Actual: 13
Result: 8.127714041293505, Actual: 10
Result: 6.521153868340393, Actual: 8
Result: 5.406142130948569, Actual: 9
Result: 19.148018988725532, Actual: 18
Result: 16.281096218841896, Actual: 16
Result: 4.9629124847687605, Actual: 4
Result: 17.549499338477837, Actual: 18
Result: 17.871094993523627, Actual: 17
Result: 9.368807357988107, Actual: 10
Result: 4.855694127114921, Actual: 6
Result: 11.943586628651055, Actual: 11
Result: 8.791122514016294, Actual: 10
Result: 10.15864063877749, Actual: 12
Result: 12.783312859684106, Actual: 13
Result: 12.797714948276836, Actual: 13
Result: 8.818922802798191, Actual: 10
Result: 18.945979133223574, Actual: 18
Result: 10.060239751280157, Actual: 10

In [25]:
result1=model.predict([[80,100,0,0,50]])
print(result1)

[111.01565829]